{% extends "layout.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}
{% block title %}Sign in{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well bs-component">
        <form class="form-horizontal" method=post action="">
          <fieldset>
            {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
            <div class="form-group">
              <div class="text-center">
              	<input type=hidden name=openid value="suse.com/openid/user">
              	<input type=submit class="suseidimg" value="">
              	<input type=hidden name=next value="{{ next }}">
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
